/* 웹폰트 링크 
@font-face { 
  font-family:Netflix Sans;
  src:url(../font/NetflixSans_W_Md.woff2)} */

/* 타이포그래피 */
h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif;  -webkit-font-smoothing: antialiased;}


h1 {font-size: 80px ;  font-weight: 600; letter-spacing: normal;} 
h2 {font-size: 64px ;  font-weight: 600; letter-spacing: normal;} 
h3 {font-size: 56px ;  font-weight: 600; letter-spacing: normal;} 
h4 {font-size: 40px ;  font-weight: 600; letter-spacing: normal;} 
h5 {font-size: 28px ;  font-weight: 400; letter-spacing: 0.112;} 
h6 {font-size: 25.5px ;  font-weight: 600; letter-spacing: normal;} 

p {font-size: 24px ;  font-weight: 600; letter-spacing: 0.216;} 

.p21 {font-size: 21px ;  font-weight: 400; letter-spacing: 0.231;} 
.p21_2 {font-size: 21px ;  font-weight: 400; letter-spacing: 0.336;} 

.p17 {font-size: 17px ;  font-weight: 400; letter-spacing: normal;} 

.p14 {font-size: 14px ;  font-weight: 600; letter-spacing: normal;} 
.p14_2 {font-size: 14px ;  font-weight: 400; letter-spacing: normal;} 

.p12 {font-size: 12px ;  font-weight: 600; letter-spacing: normal;} 
.p12_2 {font-size: 12px ;  font-weight: 400; letter-spacing: normal;} 



/* color */
.color_bl {color: black;}
.color_wh {color: white;}

.text_align_center { text-align: center;}


/* header  */
.gnb {width: 100vw; height: 44px; background-color: rgba(0,0,0,0.8); display: flex; justify-content: space-between; padding:0 calc(50vw - 490px); box-sizing: border-box; align-items: center;}
  .gnb a { color: #f5f5f7d7; line-height: 44px; text-decoration: none; }
  .gnb a:link {}

  .gnb a:hover {color: white;}

  #logo {width: 14px; height: 18px;}
  #logo:hover { }



/* hero */
main {}
.ap_hero_login { width: 100%; height: 95vh; background-color: white;}

.ap_hero_container_login { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }

.login_box { width: 450px; height: 650px; padding: 60px 68px 40px;
    margin: 20px auto; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;}

  .login_box_main h4 {padding-bottom: 56px;}
    

  .form_email input { width: 400px; height: 54px; color: rgb(214, 214, 214);  border-radius: 4px; padding: 0 20px; margin-bottom: 16px; border: 1px solid rgb(214, 214, 214);}

  .login_form_heip { width: 390px; height: 22px; display: flex; justify-content: space-between; color:#333;}
    
   .login_box_other { height: 160px; margin: 20px 0 ; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; color: #0179c9; }

   .login_box_other button { width: 400px; height: 50px; background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);  text-align: center; border-radius: 4px; margin: 24px 0 12px; padding: 16px;}






/* footer */

